body {
  height: 100%;
  background: #080b2a;
}

html {
  height: 100%;
  width: 100%;
}


.container-1 {
  height: 100%;
  width: 100%;
  padding: 150px;
  
}

.banner {
  width: 100%;
}

.div-image {
  width: 100%;
}

.container-2 {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  
}

.div-text-1 {
  width: 100%;
  display: flex;

}
.div-text-2 {
  width: 100%;
  display: flex;

}

.test-2 {
  text-align: left;
}

.content-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.text-1 {
  width: 100%;

}

.text-2 {
  margin-top: 15px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  

}

.text-des {
  width: 50%;
}

.content-2 {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.04);
}

.content-2-1 {
  display: flex;
  width: 500px;
  padding: 30px;
  flex-direction: column;
  gap: 20px;
  word-break: break-all;
}

.line {
  height: 1px;
  background: #FFF;
  
}

.line-2 {
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  
}

